.vscode/**
.vscode-test/**
!out/**
node_modules/**
!node_modules/highlight.js/styles/github-dark.min.css
!node_modules/highlight.js/styles/github.min.css
!node_modules/highlight.js/styles/a11y-dark.min.css
!node_modules/highlight.js/styles/a11y.min.css
!src/**
esbuild.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
