.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@vscode/codicons
!node_modules/highlight.js
src/**
esbuild.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
