html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
}

pre,
code {
  margin: 0;
  white-space: pre-wrap;
  color: unset;
  word-break: break-word;
}

pre {
  padding: 0.5em;
  background-color: var(--vscode-editor-background);
}
